

<div id="main-columnR">
  <h1 class="page-header">Orders</h1>
  <div class="panel panel-default">

    <%= render "search" %>
    <!-- Table -->
    <table class="table order">
      <tr>
        <th><%= Order.human_attribute_name(:id) %></th>
        <th><%= Order.human_attribute_name(:user_id) %></th>
        <th><%= Order.human_attribute_name(:required_date) %></th>
        <th><%= Order.human_attribute_name(:order_total) %></th>
      </tr>
      <% @orders.each do |order| %>
        <tr>
          <td><%= link_to order.id, order_path(order.id) %></td>
          <div class="username">
            <td><%= order.user.first_name %> <%= order.user.last_name %></td>
          </div>
          <td><%= order.required_date %></td>
          <td><%= order.order_total %></td>
        </tr>

      <% end %>
    </table>
  
  </div>
</div>





