<%= search_form_for @search, :url => items_path, :html => {:method => :get, :class => 'form-horizontal'} do |f| %>
  <div class="row">
    <div class="col-xs-3">
      <label class="col-sm-3 control-label"><%= f.label :name %></label>
      <%= f.text_field :name_matches, :class => "form-control input-sm" %>
    </div>
    <div class="col-xs-3">
      <label class="col-sm-3 control-label"><%= f.label :category_id %></label>
      <%= f.select :category_id_eq, Category.categories.collect{|i|[i.name, i.id]}, { :include_blank => Item.human_attribute_name(:category_id)}, :class => "form-control input-sm" %>
    </div>
    <div class="col-xs-3">
      <label class="col-sm-3 control-label"><%= f.label :price %></label>
      <%= f.number_field :price_gteq, :placeholder => "from", :class => "form-control input-sm" %>
      <%= f.number_field :price_lteq, :placeholder => "to", :class => "form-control input-sm" %>
    </div>    
    <div class="col-xs-6">
    <%= f.submit 'Search', :class =>"btn btn-primary btn-large" %>
    </div>
  </div>
  <br/>
<% end %>