<div id="main-columnL">
  <%= render 'main/navigation' %>
</div>
<div id="main-columnR">
  <div class="panel panel-default">
  <!-- Default panel contents -->
    <div class="panel-heading">Items:</div>

    <!-- Table -->
    <table class="table">
      <tr>
        <th><%= Item.human_attribute_name(:name) %></th>
        <th><%= Item.human_attribute_name(:description) %></th>
        <th><%= Item.human_attribute_name(:category_id) %></th>
        <th><%= Item.human_attribute_name(:price) %></th>
        <th><%= Item.human_attribute_name(:in_stock_now) %></th>
      </tr>
      <% @items.each do |item| %>
        <tr>
          <td> <%= link_to item.name, item_path(item) %> </td>
          <td> <%= item.description %> </td>
          <td> <%= item.category_id %> </td>
          <td> <%= item.price %> </td>
          <td> <%= item.in_stock_now %> </td>
          <!-- <td><button class="btn btn-primary">Delete</button></td> -->
          <td><%= button_to "Delete", item_path(item), :class => "btn btn-primary", :method => :delete %></td>
        </tr>
      <% end %>
    </table>
  
  </div>

  <%= button_to "Add Item", new_item_path, :class => "btn btn-primary", :method => :get %>
</div>


