<div id="main-columnR">
  <h1 class="page-header">Items</h1>
  <%= render "search" %>
  <%= render "edit_all" %>
  <div class="panel panel-default">
    <!-- Table -->
    <%= paginate @items %>
    <table class="table" id="targetTable">
      <tr>
        <th><%= Item.human_attribute_name(:name) %></th>
        <th>Image</th>
        <th><%= Item.human_attribute_name(:description) %></th>
        <th><%= Item.human_attribute_name(:category_id) %></th>
        <th><%= Item.human_attribute_name(:price) %></th>
      </tr>

      <tr>
        <td> </td>
        <td> </td>
        <td>
          <input type="text"></input>
          <button class="applyAll" data-type="1">Apply to all</button>
        </td>
        <td>
          <select class="form-control input-sm" name="q[category_id_eq]" id="q_category_id_eq"><option value="">Category</option>
            <option value="2">Burger</option>
            <option selected="selected" value="3">Pizza</option>
            <option value="4">Đồ ăn nhẹ</option>
            <option value="5">Spagethy</option>
            <option value="6">Đồ uống</option>
            <option value="7">Salad</option>
          </select>
          <button class="applyAll" data-type="2">Apply to all</button>
        </td>
        <td>
          <input type="text"></input>
          <button class="applyAll" data-type="1">Apply to all</button>
        </td>
        <td> </td>
      </tr>

      <% @items.each do |item| %>
        <tr>
          <td> <%= link_to item.name, item_path(item) %> </td>
          <td> <%= image_tag(item.image_url) %> </td>
          <td><label><%= item.description %></label></td>
          <td><label><%= item.category.name %></label></td>
          <td><label><%= item.price %></label></td>
          <td><%= button_to "Delete", item_path(item), :class => "btn btn-danger", :method => :delete, data: { confirm: 'Are you sure to delete this item?' } %></td>
        </tr>
      <% end %>
    </table>
    <%= paginate @items %>
  </div>
  <%= button_to "Add Item", new_item_path, :class => "btn btn-success btn-left", :method => :get %>
  <button type="button" class="btn btn-primary" id="btn-edit-all-item" data-flag="1">Edit All</button>
</div>


