<div id="main-columnR">
  <h1 class="page-header">Items</h1>
  <%= render "search" %>
  <%= render "edit_all" %>
  <div class="panel panel-default">
    <!-- Table -->
    <%= paginate @items %>
    <table class="table" id="targetTable">
      <tr>
        <th><%= Item.human_attribute_name(:name) %></th>
        <th>Image</th>
        <th><%= Item.human_attribute_name(:description) %></th>
        <th><%= Item.human_attribute_name(:category_id) %></th>
        <th><%= Item.human_attribute_name(:price) %></th>
        <th></th>
      </tr>

      <tr>
        <td> </td>
        <td> </td>
        <td>
          <input type="text"></input>
          <button class="applyAll" data-type="1">Apply to all</button>
        </td>
        <td>
          <select style="width: 120px !important;" class="adFormMaster">
            <% Category.categories.collect{|i| [ i.name, i.id ]}.each do |option| %>
              <option value="<%= option[1] %>"><%= option[0] %></option>
            <% end %>
          </select>
          <button class="applyAll" data-type="2">Apply to all</button>
        </td>
        <td>
          <input type="number"></input>
          <button class="applyAll" data-type="1">Apply to all</button>
        </td>
        <td> </td>
      </tr>

      <% @items.each do |item| %>
        <tr>
          <td width="10%"> <%= link_to item.name, item_path(item) %> </td>
          <td width="10%"> <%= image_tag(item.image_url) %> </td>
          <td width="40%"><label><%= item.description %></label></td>
          <td width="20%"><label><%= item.category.name %></label></td>
          <td width="10%"><label><%= item.price %></label></td>
          <td width="10%"><%= button_to "Delete", item_path(item), :class => "btn btn-danger", :method => :delete, data: { confirm: 'Are you sure to delete this item?' } %></td>
        </tr>
      <% end %>
    </table>
    <%= paginate @items %>
  </div>
  <%= button_to "Add Item", new_item_path, :class => "btn btn-success btn-left", :method => :get %>
  <button type="button" class="btn btn-primary" id="btn-edit-all-item" data-flag="1">Edit All</button>
</div>


